
<!-- <section class="vh-100">
   
        <div class="container-fluid h-custom">
        
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5"> -->
            <!-- <app-side-bar></app-side-bar> -->
            <!-- <div class="middle-content">
           <h1> Welcome {{user.split('@')[0]}} </h1>
            @for (item of patientData; track $index) {
            <p>{{item.id}}</p>
            <p>{{item.title}}</p>
            <p>{{item.views}}</p>
           } 
         </div> -->
<!--         
        </div>
        
      </div>
    
    </div>
    
      </section>
      -->
     <!-- <app-side-bar> </app-side-bar> -->
    
     <h1>Welcomeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</h1>