
<div class="middle-content">
    <div class="container mt-5">
        <!-- Welcome Section -->
        <div class="text-center mb-4">
            <h1>Welcome,</h1>
        </div>

        <!-- Patient Information -->
        <div class="patient-info mb-5">
            <h4 class="fw-bold text-center mb-3">Patient Information</h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-info">
                    <tr>
                        <th colspan="2" class="text-center">Patient Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="fw-bold text-secondary">Name</td>
                    </tr>
                    <tr>
                        <td class="fw-bold text-secondary">Email</td>
                    </tr>
                    <tr>
                        <td class="fw-bold text-secondary">Phone</td>
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>
</div>
<app-side-bar></app-side-bar>